*.DS_Store*
*.sql
*.txt
*.pdf
*.xlsx
*.csv
img/*
img_pos/*
*.jpg
*.png
backup
assets
config/*
# list erp files below
*crm*
*div*
*finance*
*graph*
*hr_member*
*inventory*
*logistic*
*process*
*report*
*restore*
*sales*
*system*
*website*
*wms*
*work*